* text=auto eol=lf

*.gd text eol=lf
*.tscn text eol=lf
*.tres text eol=lf
*.godot text eol=lf
*.md text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.py text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ogg binary
*.wav binary
*.mp3 binary
*.aseprite binary
*.zip binary
